<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tlplib"
          android:versionCode="1"
          android:versionName="1.0"
>
  <uses-sdk android:minSdkVersion="9" />

  <application>
    <!-- To get install referrer. -->
    <receiver
      android:name="com.tinylabproductions.tlplib.referrer.InstallReferrerReceiver"
      android:exported="true"
      >
      <intent-filter>
        <action android:name="com.android.vending.INSTALL_REFERRER" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
